@font-face {
    font-family: 'Julius Sans One';
    src: url('/fonts/JuliusSansOne-Regular.ttf') format('truetype');
  }  

.title {
    color: #FFF;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin: 0 0 1rem;
    line-height: 1.15;
}

.title span {
    display: block;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
}

.title,
.description {
    text-align: center;
}

@media (max-width: 1024px) {
    .title {
        font-size: 2.5rem;
    }

    .title span {
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {
    .title {
        margin-top: .4rem;
        font-size: 1.5rem;
    }

    .title span {
        font-size: 0.8rem;
        font-weight: 300;
    }
}