/* Estilizando o header */
.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-bottom: 1px solid #FFF; /* Uma linha em baixo */
}

/* Estilizando a logo */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    width: 10rem;
}

.logo img {
    fill: #FCFAFA;
}

/* Estilizando a barra de navegação */
.mainNav ul {
    list-style-type: none;
}

.mainNav ul li {
    display: inline;
    margin-right: 20px; /* Espaço entre os itens do menu */
}

.mainNav ul li:last-child {
    margin-right: 0; /* Remove a margem direita do último item do menu */
}

/* Estilizando os links */
.mainNav ul li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #FFF;
    font-weight: 400;
}