.itemBox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    border-radius: .4rem;
    cursor: pointer;
    transition: .5s;
    color: #423671;
}

.itemBox h4 {
    font-size: 2vw;
}   